@page "/"

<h1>BlazorApplicationInsights</h1>

<a href="https://github.com/IvanJosipovic/BlazorApplicationInsights"><img alt="GitHub stars" src="https://img.shields.io/github/stars/IvanJosipovic/BlazorApplicationInsights?style=social"></a>
&nbsp;
<a href="https://www.nuget.org/packages/BlazorApplicationInsights"><img src="https://img.shields.io/nuget/vpre/BlazorApplicationInsights.svg?style=flat-square" /></a>
<a href="https://www.nuget.org/packages/BlazorApplicationInsights"><img src="https://img.shields.io/nuget/dt/BlazorApplicationInsights.svg?style=flat-square"></a>
<br />
<br />

<button class="btn btn-primary" @onclick="TrackEvent" id="TrackEvent">Track Event</button>
<br />
<button class="btn btn-primary" @onclick="TrackTrace" id="TrackTrace">Track Trace</button>
<br />
<button class="btn btn-danger" @onclick="TrackException" id="TrackException">Track Exception</button>
<br />
<button class="btn btn-danger" @onclick="TrackGlobalException" id="TrackGlobalException">Track Global Exception</button>
<br />
<button class="btn btn-primary" @onclick="SetAuthenticatedUserContext" id="SetAuthenticatedUserContext">Set Authenticated User Context</button>
<br />
<button class="btn btn-primary" @onclick="ClearAuthenticatedUserContext" id="ClearAuthenticatedUserContext">Clear Authenticated User Context</button>
<br />
<button class="btn btn-primary" @onclick="StartStopTrackPage" id="StartStopTrackPage">Start/Stop Track Page</button>
<br />
<button class="btn btn-primary" @onclick="TrackDependencyData" id="TrackDependencyData">Track Dependency Data</button>
<br />
<button class="btn btn-primary" @onclick="TrackMetric" id="TrackMetric">Track Metric</button>
<br />
<button class="btn btn-primary" @onclick="TrackPageView" id="TrackPageView">Track Page View</button>
<br />
<button class="btn btn-primary" @onclick="TrackPageViewPerformance" id="TrackPageViewPerformance">Track Page View Performance</button>
<br />
<button class="btn btn-primary" @onclick="TestLogger" id="TestLogger">Test Logger</button>
<br />
<button class="btn btn-primary" @onclick="TestSemanticLogger" id="TestSemanticLogger">Test Semantic Logger</button>
<br />
<button class="btn btn-primary" @onclick="StartStopTrackEvent" id="StartStopTrackEvent">Start/Stop Track Event</button>
<br />
<button class="btn btn-primary" @onclick="SetInstrumentationKey" id="SetInstrumentationKey">Set Instrumentation Key</button>