on: 
  push:
    branches: 
      - '*'
      - '!master'
      - '!beta'

name: CI/CD
jobs:
  build:
    name: CI/CD
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Dotnet Build
      run: dotnet build -c Release

    - name: Dotnet Publish
      working-directory: src/BlazorApplicationInsights.Sample
      run: dotnet publish -c Release

    - name: Deploy to Test
      id: netlify
      uses: netlify/actions/cli@master
      with:
        args: deploy --json -d src/BlazorApplicationInsights.Sample/bin/Release/netstandard2.1/publish/wwwroot
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

    - name: Set Test Address
      run: |
        Set-Content -Path "src/BlazorApplicationInsights.Tests/BrowserTestsAddress.config" -Value "${{ steps.netlify.outputs.NETLIFY_URL }}";
      shell: pwsh

    - name: Install Microsoft.Playwright.CLI
      run: dotnet tool install --global Microsoft.Playwright.CLI

    - name: Install Playwright
      working-directory: src/BlazorApplicationInsights.Tests/bin/Release/netcoreapp3.1
      run: ./playwright.ps1 install
      shell: pwsh

    - name: Run Tests
      working-directory: src/BlazorApplicationInsights.Tests
      run: dotnet test --configuration Release
